@model IEnumerable<Position>

@{ ViewBag.Title = "Position List"; }


<div id="PlaceHolderHere"></div>



@section scripts{
    <script src="~/js/customScript.js"></script>
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Task List</div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">

                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-box">
                                        <div class="card-head">
                                            <header>Create Task</header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <button type="button" class="btn btn-primary m-1" style="width:auto" data-toggle="ajax-modal" data-target="#addModal"
                                                        data-url="@Url.Action("Create")">
                                                    Create New
                                                </button>
                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                                <thead>
                                                    <tr>
                                                        <th>Task No:</th>
                                                        <th>Title_Task:</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Priority</th>
                                                        <th>%Completed</th>
                                                        <th>AssingTask</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var position in Model)
                                                    {
                                                <tr></tr>
                                                <tr class="odd gradeX">

                                                    <td>@position.PositionID</td>
                                                    <td>@position.Title</td>
                                                    <td>@position.PositionName</td>

                                                    <td>@position.Status</td>
                                                    <td>@position.Priority</td>
                                                    <td>@position.Completed</td>
                                                    <td>@User.Identity.Name</td>

                                                    <td>
                                                        <form asp-action="Delete" asp-controller="Position" asp-route-id="@position.PositionID" method="post">

                                                            <button type="button" class="btn btn-primary m-1" style="width:auto" data-toggle="ajax-modal" data-target="#addModal"
                                                                    data-url="@Url.Action($"Edit/{position.PositionID}")">
                                                                Edit
                                                            </button>
                                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete this @position.PositionName')">Delete</button>
                                                        </form>
                                                    </td>



                                                </tr>
}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->